FS2ACL_UPD_FREQUENCY=30

FS2ACL_REVERT=False

FS2ACL_DEFAULT_ACL_NAME=bgpfs2acl-ipv4

FS2ACL_FS_START_SEQ=100500

FS2ACL_SYSLOG_HOST=127.0.0.1
FS2ACL_SYSLOG_PORT=514
FS2ACL_SYSLOG_FILE=None
FS2ACL_SYSLOG_LOGLEVEL=INFO

FS2ACL_ROUTER_HOST=127.0.0.1
FS2ACL_ROUTER_PORT=57722
FS2ACL_ROUTER_USER=bgpfs2acl
FS2ACL_ROUTER_PASSWORD=



