#rules checking and updating interval in seconds
FS2ACL_UPD_FREQUENCY=30

#set this parameter to True if you need to remove all the rules applied by the script
FS2ACL_REVERT=False 

#default name of the ACL, which will be used for target interfaces without bounded ACL
FS2ACL_DEFAULT_ACL_NAME=bgpfs2acl-ipv4 #

#the sequence, starting from which all the generated rules will be applied to the targeted ACLs
FS2ACL_FS_START_SEQ=100500

#syslog ip address
FS2ACL_SYSLOG_HOST=127.0.0.1

#syslog port
FS2ACL_SYSLOG_PORT=514

#syslog file
FS2ACL_SYSLOG_FILE=None

#syslog level info
FS2ACL_SYSLOG_LOGLEVEL=INFO

#router host
FS2ACL_ROUTER_HOST=127.0.0.1

#router port
FS2ACL_ROUTER_PORT=57722

#linux user for connection to the router
FS2ACL_ROUTER_USER=bgpfs2acl

#user's password, not needed if using ssh key
FS2ACL_ROUTER_PASSWORD=



